/* Layout */
#section1 {
  background: url(sec1/sec1_hintergrund_aktuell.png);
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
  width: 100%;
}

#sec1Socke{
  position: absolute;
  width: 700px;  
  min-width: 412px;
  margin-left: 40%;
  margin-top: -30px;
}

/* Typography */
#section1 h1, #section1 p {
  font-family: var(--main-font-family);
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
}

#section1 h1 {
  top: 350px;
  margin-left: 380px;
  font-size: 50px;
  font-weight: 700;
}

#section1 p {
  top: 420px;
  margin-left: 430px;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}

/* Buttons */
#section1 button {
  position: absolute;
  top: 75%;
  margin-left: 380px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: var(--button-radius);
  width: var(--button-width);
  height: var(--button-height);
  border-style: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

#section1 button:hover {
  background-color: rgb(99, 99, 99);
}