#section4 {
  margin-top: 0x;
  height: auto;
  max-height: fit-content;
  background-color: rgb(205, 19, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: var(--main-font-family);
  color: white;
}

#section4 .content4 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 3vw;
}

#section4 .content4 img{
  width: 50%;
  height: auto;
  margin-top: -5%;
}


#section4 p {
  width: 100%;
  text-align: left;
  color: white;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 18px;
  max-height: 400px;
  overflow: hidden;
}

/* Der Modal (Hintergrund) */
.modal4 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content4 {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
  color: rgb(205, 19, 30);
  height: auto;
  overflow: auto;
}

.modal-content4 p {
  color: rgb(205, 19, 30) !important;
  margin-left: -10px !important;
}

/* Der Close Button */
.close4 {
  color: rgb(205, 19, 30);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#readMore4 {
  position: absolute;
  margin-top: 430px;
  margin-left: 42%;
  background-color: rgb(205, 19, 30);
  color: white;
  width: 90px;
  height: 30px;
  border-style: none;
  transition: background-color 0.1s ease;
  z-index: 1;
  cursor: pointer;
}

#readMore4:hover {
  background-color: rgb(112, 42, 47);
}

#section4 h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 250%;
  font-weight: 700;
}


#section4 #button4 {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  border-radius: var(--button-radius);
  width: var(--button-width);
  height: var(--button-height);
  border-style: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: var(--button-height);
  margin-top: 470px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


#section4 #button4:hover {
  background-color: #ddd;
}

#offerForm4 {
  display: none;
  position: absolute;
  margin-top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 50px;
  border: 1px solid black;
  width: 300px;
  height: 250px;
  font-size: small;
  color: black;
}