/* Layout */
#section2 {
  height:fit-content;
  width: 100%;
  max-width:fit-content;
  position: relative;
  margin: auto;
  left: 50px;
}

#sec2Image {
  position: absolute;
  top: 350px;
  left: 43%;
  transform: translateY(-50%);
  width: 600px;
}

/* Typography */


#colorText {
  font-size: 1.25em;
  color: #292929;
  margin-left: 5%;
  margin-top: 330px;
}

#sec2h2 {
  font-size: 12px;
  color: #555;
  font-weight: lighter;
  margin-left: 0;
  margin-bottom: 8px;
}

/* Buttons */
#section2 #button {
  position: absolute;
  left: 5%;
  background-color: rgb(0, 0, 0);
  border-radius: var(--button-radius);
  width: var(--button-width);
  height: var(--button-height);
  border-style: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: var(--button-height);
  top: 450px;
  color: white;
  cursor: pointer;
}



#section2 #button:hover {
  background-color: #555;
}

/* Icons */
.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 300px;
}

.icon {
 width: 300px;
 height: auto;
  margin: 30px;
  text-align: center;
}

.icon img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  object-fit: cover;
}

.icon-container .icon p{
  font-size: 12px;
  color: #555;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
}

.icon-container .icon h2{
  font-size: 25px;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}


/* Other */
#sec2h2, .color-container {
  position: relative;
  left: 5%; 
  top: 300px;
}
.color-container {
  display: flex;
  justify-content: unset;
  flex-wrap: wrap;
  flex-direction: row;
  left: 4%;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.color-circle.active {
  transform: scale(1.8) !important;
}

#offerForm {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 50px;
  border: 1px solid black;
  width: 300px;
  height: 250px;
  font-size: small;
  color: black;
}





.scroll-reveal {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.scroll-reveal.visible {
  animation-name: reveal;
  visibility: visible;
}


@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}