@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap') format('woff2');
}

:root {
  --main-color: #333;
  --main-margin: 50px;
  --main-font-size: 1.25em;
  --button-width: 300px;
  --button-height: 50px;
  --button-radius: 30px;
  --main-margin-smart: 150px;
  --main-font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



  body {
    font-family: var(--main-font-family);
    overflow-x: hidden;
    width: 100%;
  }

  .logo {
    position: relative;
    top: 5px;
    display: block;
    z-index: 9999;
    padding-left: 100px;
  }

  header {
    padding-top: 2px;
    margin-bottom: 0;
    top: 0;
    width: 100%;
    background-color: white;
    height: 68px;
  }

  /* =================
   NAVIGATION STYLES
   ================= */


  .burger-menu {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 0;
    margin: 20px;
    cursor: pointer;
    z-index: 9999;
    display: none;
    background-color: white; 
    padding:  10px 15px 10px 3px;
  }

  .burger-menu div {
    /* Style der Striche vom Icon */
    width: 85%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    transition: all 0.3s;
    z-index: 1;
  }

  .burger-menu div:nth-child(1) {
    /*  die Menü Striche ansich */
    top: 5px;
  }

  .burger-menu div:nth-child(2) {
    top: 13px;
  }

  .burger-menu div:nth-child(3) {
    top: 21px;
  }




  .dropdown-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: auto;
    background-color: #f9f9f9;
    padding: 50px;
    box-sizing: border-box;
    z-index: 1;
  }

  .search-bar {
    display: block;
    width: 75%;
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .dropdown-menu a {
    color: black; 
    text-decoration: none; 
  }


  .modal-content3, .modal-content4 {
    width: 80%;
    height: auto;
    overflow: auto;
  }

/* =================
   FOOTER STYLES
   ================= */

/* General Footer Styles */
h3 {
  font-size: 1.2em; 
  color: black;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 9px 4px;
  width: 80%;
  cursor: pointer;
  border-radius: 50px / 50px;
}

/*---------------------------------------*/

footer {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 10px;
}

footer p {
  color: #000 !important; 
  font-size: 12px !important;
  text-align: center !important;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Stacks the items vertically */
  justify-content: center; /* Centers the items vertically */
  align-items: center; /* Centers the items horizontally */
  text-align: center; /* Centers the text of direct children */ 
}

.footer-content ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-content li {
  margin-right: 20px;
}

.footer-content .icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  transform: translateY(-200px );
  border-bottom: 1px solid rgb(134, 129, 129); 
  width: 100%; 
  padding: 0 20px;
}

.icon img {
  width: 50px;  /* Setzen Sie die gewünschte Breite */
  height: 50px; /* Setzen Sie die gewünschte Höhe */
  object-fit: contain; /* Behält das Seitenverhältnis des Bildes bei, ohne es zu verzerren */
}
footer .icon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-right: 10px;
  font-size: 48px !important;
  background-color: #ffffff;
  color: #000;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  transform: translateY(-100px );
  border-bottom: 1px solid rgb(134, 129, 129);
}

/*---------------------------------------*/

.left {
  font-size: 20px;
  color: #000;
}

.left p{
  text-align: left !important;
}

.left h2{
  font-size: 25px;
  color: #000;
}

.right {
  text-align: right;
}

.right h2{
  font-size: 15px;
  color: #000;
  white-space: nowrap;
}

/*---------------------------------------*/

.quellen{
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(134, 129, 129);
  padding: 0 30%;
  width: 100%;
}

.quellen .quellen-right {
  float: right;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 50px;
}

.quellen .quellen-right a, .quellen-left a{
  color: black;
  text-decoration: none;
}

.quellen .quellen-left {
  float: left;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  align-items: flex-start;
  cursor: pointer;
}