#section5{
  background-color: #113653;
  margin-top: 50px;
  width: 100%;
  height: 800px;
}

.content5{
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 3vw; 
  margin-left: 100px;
  height: auto;
}

#section5 h2{  
  margin-left: 35%; 
  width: 100%;
  text-align: left;
  color: white;
  margin-top: 20px;
  font-size: 18px;
  max-height: 400px;
  overflow: visible;
}

#section5 h2:hover{
  text-decoration: underline;
}

#h2-1 {
  margin-right: -50%; 
}



#p-1{
  display: block;
  white-space: normal;
  font-size: 15px !important;
}

#p-2{
  display: none;
  white-space: normal;
  font-size: 15px !important;
}



.h2-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content5 img{
  margin-left: 5%;
  margin-right: 5%;
}

.underline {
  text-decoration: underline;
}

